// Place all the styles related to the externals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.tab-border td {
    padding: 0.25rem;
    vertical-align: top;
    border-top: 1px solid #fff;
}





