<%# add navigation links to this file %>
<li class='nav-item'><%= link_to 'Dashboard', organizations_path, class: 'nav-link' %></li>
<li class='nav-item'><%= link_to 'Edit account', edit_user_registration_path, class: 'nav-link' %></li>
<li class='nav-item'><%= link_to 'Edit account', edit_user_registration_path, class: 'nav-link' %></li>
<li class='nav-item'><%= link_to 'Edit account', edit_user_registration_path, class: 'nav-link' %></li>
